<div>
	<h2><%= @post.title %></h2>
	<h3>A moment posted by <a href="/users/<%= @user.id %>/posts"><%= @user.name %></a></h3>
	<p><%= @post.content %></p>

	<% if @post.tags.length > 0 %>
		<% @post.tags.each do |tag| %>
			<span>#<%= tag.name %></span>
		<% end %>
	<% end %>

</div>