<div>
	<h2><%= @post.title %></h2>
	<h3>A moment posted by <%= @user.name %></h3>
	<p><%= @post.content %></p>

	<% if @post.tags.length > 0 %>
		<% @post.tags.each do |tag| %>
			<span>#<%= tag.name %></span>
		<% end %>
	<% end %>

</div>

	<form method="GET" action="/posts/<%= @post.id %>/edit">
		<input type="submit" value="Edit Post">
	</form>

	<form method="POST" action="/posts/<%= @post.id %>/delete">
		<input type="submit" value="Delete Post Forever">
	</form>