<div class="moments-content">
	<h2>Welcome, <%= @user.name %>!</h2>

	<h3>My Moments</h3>

	


	<h3>My Tags</h3>

	<form method="POST" action="/logout">
		<input type="submit" value="Log Out">
	</form>

</div>

<div class="profile">
	<h3>My Profile</h3>
	<ul>
		<li><%= @user.name %></li>
		<li><%= @user.email %></li>
	</ul>

	<h3>Edit Profile</h3>
	<form method="POST" action="/users/<%= @user.id %>/update">
		<div>
			<label for="name">Name: </label>
			<input type="text" name="name" value="<%= @user.name %>" placeholder="<%= @user.name %>">
		</div>
		<div>
			<label for="email">Email: </label>
			<input type="text" name="email" value="<%= @user.email %>" placeholder="<%= @user.email %>">
		</div>
		<div>
			<label for="email">Password: </label>
			<input type="password" name="password" value="<%= @user.password %>" placeholder="<%= @user.password %>">
		</div>
		<input type="submit">
	</form>

	<h3>Delete Account</h3>
	<p>Warning: If you delete your account, it is PERMANENT and FINAL.</p>
	<button id="verify-delete">Delete</button>
	<form method="POST" action="/users/<%= @user.id %>/delete">
		<input type="submit" value="Delete Forever">
	</form>
	<!-- make this visibility hidden until the user clicks the regular delete button. then the delete permanently option will appear -->
</div>


<!-- make edit profile bar initially hidden and then show if a user clicks a button -->